@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6B21A8;
  --primary-hover: #581C87;
  --background: #F9FAFB;
  --foreground: #111827;
  --font-sans: var(--font-geist-sans), system-ui, Arial, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
